@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Krona+One&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
}
body {
  font-family: 'Krona One', sans-serif;
  @apply bg-white;
}
.activeLink {
  @apply border-b-2 border-myBlack tracking-wider text-center font-medium;
}
.notActiveLink {
  @apply pb-1 border-b-2 border-transparent tracking-wider text-center font-medium hover:border-b-2 hover:border-myBlack;
}
.navLink {
  @apply py-2 my-2;
}
.servLink {
  @apply pl-12 py-2;
}
.subLink {
  @apply block px-4 py-2 hover:font-medium hover:bg-gray-100;
}
.headingOne {
  @apply uppercase lg:text-5xl md:text-[40px] text-3xl md:w-full lg:leading-[60px] md:leading-[58px] leading-[40px];
}
.headingTwo {
  @apply text-myBlack text-2xl;
}
.slideCtaBtn {
  @apply font-krona uppercase text-[14px] font-medium px-16 py-3 text-myWhite bg-accent hover:bg-accentHover;
}
.ctaBtn {
  @apply font-krona uppercase text-[12px] px-16 py-3 text-myWhite bg-accent hover:bg-accentHover;
}
.slideImage {
  @apply block w-full h-[80vh] object-cover;
}
.slideBtn {
  @apply absolute top-1/2 p-2.5 md:p-3.5 lg:p-4 bg-white/[0.6] text-black/[0.3] rounded-full border-[1.5px] border-white z-10 transform -translate-y-1/2 transition-opacity duration-300 hover:bg-white hover:text-myBlack/[0.7];
}
.sliderArrowIcon {
  @apply w-[70%] md:w-[80%] lg:w-full;
}
.paragraph {
  @apply font-jost text-[16px] lg:text-[15px] font-light leading-7 lg:leading-6;
}
.paragraphBold {
  @apply font-jost text-[16px] lg:text-[15px] font-normal leading-7 lg:leading-6;
}
.myDarkGray {
  @apply text-gray-500;
}
.scrollToTopBtn {
  @apply rotate-90 p-4 bg-white/[0.6] text-black/[0.3] rounded-full border-[1.5px] border-white z-10 transform -translate-y-1/2 transition-opacity duration-300 hover:bg-white hover:text-myBlack/[0.7];
}
.sectionDefault {
  @apply w-full px-[20px] md:px-[160px] py-[85px] md:py-28;
}

/* Offers section */
.circleImage {
  @apply w-10 h-10 md:w-12 md:h-12 lg:w-20 lg:h-20 lg:ml-0 mb-8 lg:mb-0;
}
.rectangularBar {
  @apply lg:w-20 lg:h-5 w-14 h-5;
}
/* Client feedback section */
.clientFeedbackWrapper {
  @apply lg:flex lg:flex-row space-x-3 flex flex-col w-full;
}
/* Animated Hamburger menu */
.hamburger-menu {
  @apply relative top-2 space-y-2 flex-col justify-center items-center w-[30px] h-[30px];
}

.hamburger-menu__bar {
  @apply block w-full h-[2px] bg-myBlack;
  transition: transform 0.2s ease-in-out;
}

.hamburger-menu__bar:first-child {
  @apply origin-top-left transform rotate-0 transition-all duration-200;
}

.hamburger-menu__bar:last-child {
  @apply origin-bottom-left transform rotate-0 transition-all duration-200;
}

.hamburger-menu__bar:nth-child(2) {
  @apply transition-all duration-100;
}

.hamburger-menu.open .hamburger-menu__bar:first-child {
  transform: rotate(45deg);
}

.hamburger-menu.open .hamburger-menu__bar:last-child {
  transform: rotate(-45deg);
}

.hamburger-menu.open .hamburger-menu__bar:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.open .hamburger-menu__bar:first-child,
.hamburger-menu.open .hamburger-menu__bar:last-child {
  @apply transition-all duration-200;
}

